<!-- about section -->

<section id="about">
   <div class="container">
       <div class="row">
          <div class="col-md-6">
              <h2>About Us</h2>
              <div class="about-content">
                about.me is a personal web hosting service co-founded by Ryan Freitas, 
                Tony Conrad and Tim Young in October 2009.[2] The site offers registered 
                users a simple platform from which to link multiple online identities, relevant
                 external sites, and popular social networking websites such as Facebook, Flickr,
                 Google+, Pinterest, LinkedIn, Twitter, Tumblr, and YouTube. It is characterized by 
                 its one-page user profiles, each with a large, often-artistic background image and abbreviated biography.
                 <div>
                  <button class="btn btn-primary">
                    Read more...
                  </button>
                 </div>
                
              </div>
          </div>
          <div class="col-md-6 skills-bar">
                   <p>Adobe Photoshop</p>
                   <div class="progress">
                      <div class="progress-bar" style="width: 80%">80%</div>
                   </div>
                   <p>UI Design</p>
                   <div class="progress">
                      <div class="progress-bar" style="width: 85%">85%</div>
                   </div>
                   <p>WordPress</p>
                   <div class="progress">
                      <div class="progress-bar" style="width: 70%">70%</div>
                   </div>
                   <p>Graphics Design</p>
                   <div class="progress">
                      <div class="progress-bar" style="width: 60%">60%</div>
                   </div>
          </div>
       </div>
   </div>
</section>