<!-- team-members-sections -->

<section id="team">
   <div class="container">
     <h1>Our Team</h1>
       <div class="row">
          <div class="col-md-3 profile-pic text-center">
             <div class="img-box">
                <img src="../../assets/img/hanuman.jpeg" class="img-responsive">
                   <ul>
                      <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                      <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                      <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                   </ul>
                   <div>
                      <h2>Hanuman</h2>
                      <h3>Founder / CEO</h3>
                      
                   </div>
             </div>
          </div>

          <div class="col-md-3 profile-pic text-center">
              <div class="img-box">
                 <img src="../../assets/img/durga.jpeg" class="img-responsive">
                    <ul>
                       <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                       <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                       <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                    </ul>
                    <div>
                       <h2>Durga</h2>
                       <h3>Chairman</h3>
                       
                    </div>
              </div>
           </div>

           <div class="col-md-3 profile-pic text-center">
              <div class="img-box">
                 <img src="../../assets/img/ram_laxman_seeta.jpeg" class="img-responsive">
                    <ul>
                       <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                       <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                       <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                    </ul>
                    <div>
                       <h2>Ram Laxma Seeta</h2>
                       <h3>Writters</h3>
                       
                    </div>
              </div>
           </div>

           <div class="col-md-3 profile-pic text-center">
              <div class="img-box">
                 <img src="../../assets/img/sankar_parvati.jpeg" class="img-responsive">
                    <ul>
                       <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                       <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                       <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                    </ul>
                    <div>
                       <h2>Sankar Parvati</h2>
                       <h3>Designers</h3>
                       
                    </div>
              </div>
           </div>
       </div>
   </div>
</section>