<!-- Price Plan Section -->
<section id="price">
   <div class="container">
      <h1>Price Plans</h1>
       <div class="row">
        <div class="col-md-3">
           <div class="single-price">
                <div class="price-head">
                  <h2>Free</h2>
                  <p>$0/<span>month</span></p>
                </div>
                <div class="price-content">
                   <ul>
                     <li><i class="fa fa-check-circle" aria-hidden="true"></i>5GB Space</li>
                     <li><i class="fa fa-check-circle" aria-hidden="true"></i>10GB Bandwidth</li>
                     <li><i class="fa fa-times-circle" aria-hidden="true"></i> 15 Email Account </li>
                     <li><i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Domain</li>
                     <li><i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Support</li>
                   </ul>
                </div>
                <div class="price-button">
                    <a href="#" class="buy-btn">Join Free</a>
                </div>
                    
                 
           </div>
        </div>

        <div class="col-md-3">
          <div class="single-price">
               <div class="price-head">
                 <h2>Startup</h2>
                 <p>$10/<span>month</span></p>
               </div>
               <div class="price-content">
                  <ul>
                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>10GB Space</li>
                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>100GB Bandwidth</li>
                    <li><i class="fa fa-check-circle" aria-hidden="true"></i> 15 Email Account </li>
                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Domain</li>
                    <li><i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Support</li>
                  </ul>
               </div>
               <div class="price-button">
                   <a href="#" class="buy-btn">Buy Now</a>
               </div>
                   
                
          </div>
       </div>

       <div class="col-md-3">
        <div class="single-price">
             <div class="price-head">
               <h2>Business</h2>
               <p>$50/<span>month</span></p>
             </div>
             <div class="price-content">
                <ul>
                  <li><i class="fa fa-check-circle" aria-hidden="true"></i>20GB Space</li>
                  <li><i class="fa fa-check-circle" aria-hidden="true"></i>200GB Bandwidth</li>
                  <li><i class="fa fa-check-circle" aria-hidden="true"></i> 50Email Account </li>
                  <li><i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Domain</li>
                  <li><i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Support</li>
                </ul>
             </div>
             <div class="price-button">
                 <a href="#" class="buy-btn">Buy Now</a>
             </div>
                 
              
        </div>
     </div>

     <div class="col-md-3">
      <div class="single-price">
           <div class="price-head">
             <h2>Advanced</h2>
             <p>$100/<span>month</span></p>
           </div>
           <div class="price-content">
              <ul>
                <li><i class="fa fa-check-circle" aria-hidden="true"></i>50GB Space</li>
                <li><i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Bandwidth</li>
                <li><i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Account </li>
                <li><i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Domain</li>
                <li><i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Support</li>
              </ul>
           </div>
           <div class="price-button">
               <a href="#" class="buy-btn">Buy Now</a>
           </div>
               
            
      </div>
   </div>
       </div>
   </div>
</section>