<!-- servicess section -->

<section id="services">
   <div class="container">
     <h1>Our services</h1>
     <div class="row services">
       <div class="col-md-3 text-center">
               <div class="icon">
                <i class="fa fa-desktop" aria-hidden="true"></i>
               </div>
               <h3>Web Development</h3>
               <p>Web development is the work involved in developing a 
                 web site for the Internet (World Wide Web) or an intranet 
                 (a private network).</p>
       </div>
      <div class="col-md-3 text-center">
               <div class="icon">
                <i class="fa fa-tablet" aria-hidden="true"></i>
               </div>
               <h3>App Development</h3>
               <p>Web development is the work involved in developing a 
                 web site for the Internet (World Wide Web) or an intranet 
                 (a private network).</p>
       </div>
       <div class="col-md-3 text-center">
               <div class="icon">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
               </div>
               <h3>Digital Marketing</h3>
               <p>Web development is the work involved in developing a 
                 web site for the Internet (World Wide Web) or an intranet 
                 (a private network).</p>
       </div>
       <div class="col-md-3 text-center">
               <div class="icon">
                <i class="fa fa-paint-brush" aria-hidden="true"></i>
               </div>
               <h3>Graphics Design</h3>
               <p>Web development is the work involved in developing a 
                 web site for the Internet (World Wide Web) or an intranet 
                 (a private network).</p>
       </div>
       
     </div>
   </div>


</section>