<!-- Testimonials -->
<section id="Testimonials">
    <div class="container">
        <h1>Testimonials</h1>
        <p class="text-center">Subscribe Easy Tutorials Youtube Channel to watch more videos.</p>
        <div class="row">
           <div class="col-md-4 text-center">
              <div class="profile">
                 <img src="../../assets/img/nikhil.jpg" class="user">
                  <blockquote>My goal is to become Software Developer with 
                              a company where I can utilize my skills
                              and gain further experience while enhancing 
                              the company’s productivity and reputation.</blockquote>
                  <h3>Nikhil Dosapati<br><span> Softwate Developer at Jio</span></h3>
              </div>
           </div>

           
              <div class="col-md-4 text-center">
                 <div class="profile">
                    <img src="../../assets/img/gautam.jpg" class="user">
                     <blockquote>My goal is to become Software Developer with 
                                 a company where I can utilize my skills
                                 and gain further experience while enhancing 
                                 the company’s productivity and reputation.</blockquote>
                     <h3>Prabhudeen Gautam<br><span> Softwate Developer at Jio</span></h3>
                 </div>
              </div>

              
                  <div class="col-md-4 text-center">
                     <div class="profile">
                        <img src="../../assets/img/disha.jpeg" class="user">
                         <blockquote>My goal is to become Software Developer with 
                                     a company where I can utilize my skills
                                     and gain further experience while enhancing 
                                     the company’s productivity and reputation.</blockquote>
                         <h3>Disha Mandal<br><span> Softwate Developer at Jio</span></h3>
                     </div>
                  </div>
        </div>
    </div>
</section>